<div class="sidebar-container">
    <div class="upper-section">
         <div class="logo-section">
    <div class="logo-square">
        <img src="assets/images/logo1.png" class="logo" alt="logo" />
    </div>
    
    <h3 class="logo-text">ClinicPlus</h3>
  </div>

  <nav class="menu">
    <a routerLink="/dashboard" routerLinkActive="active">
      <i class="material-icons">dashboard</i> Dashboard
    </a>

    <a routerLink="/patientsList" routerLinkActive="active">
      <i class="material-icons">group</i> Patient Management
    </a>

    <a routerLink="/inventory" routerLinkActive="active">
      <i class="material-icons">local_pharmacy</i> Pharmacy & Inventory
    </a>

    <a routerLink="/reports" routerLinkActive="active">
      <i class="material-icons">analytics</i> Reports & Analytics
    </a>

    <a routerLink="/settings" routerLinkActive="active">
      <i class="material-icons">settings</i> Settings
    </a>
  </nav>

    </div>
 

  <div class="support-box">
    <p class="title">Need Help?</p>
    <p class="subtitle">Contact our support team.</p>
    <button>Contact Support</button>
  </div>
</div>


