* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #eaf0fb;
}

.container {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 230px;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  border-right: 1px solid #d9e1f2;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo h2 {
  color: #2563eb;
}

.nav {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.nav-item {
  padding: 10px;
  color: #333;
  text-decoration: none;
  border-radius: 10px;
  margin-bottom: 5px;
}

.nav-item.active,
.nav-item:hover {
  background-color: #e3edff;
  color: #2563eb;
}

.support-box {
  background: #f1f5ff;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.support-box button {
  background: linear-gradient(to right, #2563eb, #003cbb);
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
}

/* Main */
.main {
  flex: 1;
  padding: 30px;
}

/* Stats */
.stats {
  display: flex;
  gap: 20px;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  flex: 1;
}

.card h3 {
  font-size: 24px;
}

.card.green h3 { color: #16a34a; }
.card.orange h3 { color: #f59e0b; }
.card.blue h3 { color: #2563eb; }
.card.red h3 { color: #dc2626; }

/* Search & Filter */
.search-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 25px 0;
}

.search-section input {
  flex: 1;
  padding: 8px 10px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
}

.filter-btn,
.add-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.add-btn {
  background: #2563eb;
}

/* Table */
.patient-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 15px;
  overflow: hidden;
}

.patient-table th {
  background-color: #e3edff;
  text-align: left;
  padding: 12px;
}

.patient-table td {
  padding: 12px;
  border-bottom: 1px solid #f0f0f0;
}

.status {
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 13px;
}

.status.stable {
  background-color: #e0f2fe;
  color: #2563eb;
}

.status.pregnant {
  background-color: #fff7e0;
  color: #f59e0b;
}

.status.critical {
  background-color: #fee2e2;
  color: #dc2626;
}

.view-btn {
  background-color: #e0f2fe;
  color: #2563eb;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.view-btn:hover {
  background-color: #2563eb;
  color: white;
}
