
*{
  margin: 0%;
  padding: 0%;
}
.container {
  display: flex;
  height: 100vh;
  font-family: 'poppins', sans-serif;
  background: #E9F1FC;
}

.form-section {
  width: 45%;
  padding: 40px;
  background: #E9F1FC;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  text-align: center;
}

.logo img {
  width: 250px;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 600;
}

.input-group input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.btn-submit {
  width: 100%;
  padding: 12px;
  background-color: #3b5bfd;
  background: linear-gradient(90deg, #2742A1 0%, #4B97FF 100%);
  color: #fff;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

.divider {
  text-align: center;
  margin: 15px 0;
}

.social-login {
  display: flex;
  justify-content: space-between;
}

.apple-btn, .google-btn {
  width: 48%;
  padding: 10px;
  background: #f5f5f5;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.image-section {
  width: 55%;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signin-text {
  margin-top: 10px;
  text-align: center;
}
